/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

body {
	letter-spacing: 0.57px;
}
.arrowRight .uabb-module-content i {
	color: #BB0B0B!important;
}
.pl-0 {
	padding-left: 0px!important;
}
.uabb-faq-question-label {
	border: none;
    outline: none;
}
.fl-comments-popup-link {
	display: none!important;
}
.uabb-search-form.uabb-search-form-input .icon {
    margin: 15px!important;
	top: 5px!important;
}
.hoverBlack .fl-heading a:hover span, .hoverBlack .fl-heading a:hover {
    color: #444444!important;
}
.fl-slide-text-left .fl-slide-content-wrap {
    float: none!important;
}
.product-detail-layout-6 .slide.selected-slide:after {
    top: 50%!important;
    left: 50%;
    transform: translate(-50%, -70%);
}
ul.social-icons li a:hover i:before {
    color: #5A6C7A;
}

.custom_searchHeader i {
    cursor: pointer;
}
.fl-node-a1iv67pcyd2g .uabb-creative-menu.off-canvas ul.menu > li .sub-menu .uabb-has-submenu-container>a, .fl-node-a1iv67pcyd2g .uabb-creative-menu.off-canvas ul.menu > li .sub-menu .sub-menu a, .fl-node-a1iv67pcyd2g .uabb-creative-menu.off-canvas ul.menu > li.menu-item-has-children > .sub-menu > li > a  {
	background-color: #5a6c7a;
}
.fl-node-a1iv67pcyd2g .uabb-creative-menu.off-canvas ul.menu > li .sub-menu li.current-menu-item > a, .fl-node-a1iv67pcyd2g .uabb-creative-menu.off-canvas ul.menu > li .sub-menu li.current-menu-item div > a  {
	background-color: #767676;
}
.fl-node-a1iv67pcyd2g .uabb-creative-menu.off-canvas ul.menu > li .sub-menu .uabb-has-submenu-container>a .uabb-menu-toggle:before {
    color: #fff!important;
}
.fl-node-a1iv67pcyd2g .uabb-creative-menu.off-canvas ul.menu li a {
    border-radius: 0px!important;
}
.lost-password #lostpasswordform input[type=text]{
    height: 50px;
    padding: 15px;
}

.customRugTab .uabb-tabs-nav ul li h5 a {
    width: 100%!important;
    max-width: 300px;
    display: block;
}
.customRugTab .uabb-tabs-nav ul li {
    max-width: 300px;
    width: 100%!important;
}
.brandSlider .slick-track {
	 display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.brandSlider2 .slick-list  {
    display: flex;
    justify-content: center;
}
.brandSlider2 .slick-list .slick-track .uabb-image-carousel-item  {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.facet_filters .facet-wrap>strong {
    border-bottom: 2px solid #000!important;
	color: #000!important;
}
.getStarted .uabb-infobox-content .uabb-infobox-title-wrap, .getStarted .uabb-infobox-content .uabb-infobox-text-wrap {
	padding: 0px 30px;	
}
.getStarted .uabb-infobox-content .uabb-infobox-title-wrap h3, .getStarted .uabb-infobox-content .uabb-infobox-text-wrap p,  .getStarted .uabb-infobox-content .uabb-infobox-text-wrap  .uabb-text-editor div {
	text-align: left;
}
.getStarted .uabb-module-content .uabb-module-content {
	margin-top: 0px!important;
}
.locationRow .storename {
    list-style: none;
    padding-left: 0px;
}
.locationRow .storename .store-opening-hrs {
	padding-left: 0px!important;
}
.locationRow ul.store-opening-hrs li {
    padding: 5px 0px!important;
    max-width: 300px;
}
.locationRow ul.store-opening-hrs li span {
    float: right;
}
.locationRow .storename .map-container iframe {
	min-height: 550px!important;
}
.storename .address a p {
	margin-bottom: 0px;
}
.flooringFinder section > .contCenter {
    max-width: 1250px;
}
.flooringFinder section .container {
    margin: 0 auto!important;
}
.fl-col-content .fl-module .uabb-gf-style form .gform_body .gfield_label {
    display: block;
    text-align: left;
    margin-bottom: 0px;
	border-bottom: 0px!important;
}
.gform_wrapper.gravity-theme .hour_minute_colon {
    display: flex;
    align-items: center!important;
}
.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://ambassadorfloor.com/wp-content/uploads/2022/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
footer .uabb-infobox-text .storename .phone a:hover span{
    color: #5A6C7A!important;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before {
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}

.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 50% 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}
.fl-col .fl-module .uabb-module-content.uabb-creative-button-wrap a {
	border-radius: 0px!important;
}

footer .storename {
	list-style: none;
}
footer .textModule .uabb-infobox-text > p, .textModule .uabb-infobox-text > .storename  {
    margin-bottom: 0px!important;
}
footer .textModule .fl-rich-text .social-icons > li {
    margin-bottom: 0px!important;
}
.z-index-5 {
    position: relative;
    z-index: 5;
}
.gform_wrapper.gravity-theme .gfield .gfield_captcha_input_container.math_small input {
    max-width: 80px!important;
}
.gform_wrapper .ginput_container.ginput_container_checkbox input {
    vertical-align: middle!important;
}

/* Resiter page css start here*/

.registerationForm .user-registration {
    border: none!important;
    padding: 0px!important;
}

.registerationForm .user-registration input[type=text] {
    border: 1px solid #ccc;
    height: 46px;
}

.registerationForm .user-registration input[type=text],
.registerationForm .user-registration input[type=email],
.registerationForm .user-registration input[type=password],
.registerationForm .user-registration select {
    border: 1px solid #ccc;
    height: 46px;
}

.registerationForm .ur-submit-button,
.user-registration .ur-submit-button, 
.lost-password .lostpassword-submit .button {
    margin: 0 auto!important;
    margin-top: 60px!important;
    border-radius: 0px!important;
    width: 200px;
    height: 45px;
    font-family: Montserrat, sans-serif!important;
    font-weight: 400!important;
    font-size: 16px;
    letter-spacing: 2px!important;
    text-transform: uppercase!important;
    color: #fff!important;
}
.lost-password .lostpassword-submit .button {
    width: 240px;
	display: block;
}
.lost-password fieldset legend, .lost-password .somfrp-lost-pass-form-text p {
	text-align: center!important;
}
.registerationForm .field-radio ul,
.user-registration .field-radio ul {
    padding-left: 0px!important;
}

.registerationForm .user-registration .field-radio ul label {
    font-weight: 600!important;
    font-size: 12px!important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4F4F4F!important;
}
/* Resiter page css end here*/

/*Workbook css start here */

.workbookImages h3.uabb-simplify {
    margin-bottom: 20px!important;
}
.signinButton .fl-button-wrap .fl-button {
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 0px;
    height: 45px;
    width: 200px;
    letter-spacing: 2px;
    line-height: 33px;
    text-align: center;
    padding: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff!important;
}
.signinButton .fl-button-wrap .fl-button span {
    color: #fff!important;
}

/*Workbook css end here */

/* Favoriate product page css start here*/
/* Popup css start here */
#modal-ifrdp3a7e41w h3{
    font-size: 24px!important;
    color: #000!important;
    margin: 20px 0px -10px 20px!important;
}
#modal-ifrdp3a7e41w textarea{
   min-height: 120px!important;
}

#modal-ifrdp3a7e41w input[type=submit]{
   margin-top: -20px!important;
    border-radius: 0px!important;
width: 120px!important;
    color: #fff!important;
    letter-spacing: 2px!important;
	    position: static!important;
    margin-left: 0px!important;
}

#modal-ifrdp3a7e41w .uabb-modal-close{
    top: 0px!important;
    margin-left: -40px!important;
    margin-top: 20px!important;
}
#modal-ifrdp3a7e41w .uabb-modal-close i{
    color: #2d6ca2!important;
    font-size: 30px!important;
}

/* text show popup css  */

#modal-02ajbolnhspw .uabb-modal-text  {
	    padding: 40px 20px!important;
}
#modal-02ajbolnhspw .uabb-modal-text p.note_content {
	padding: 40px 20px!important;
    background-color: #c3c3c32e!important;
}
#modal-02ajbolnhspw .uabb-modal-text p:not(.note_content) {
	display: none;
}
#modal-02ajbolnhspw .uabb-modal-close{
        top: -10px!important;
    margin-left: -40px!important;
    margin-top: 20px!important;
}
#modal-02ajbolnhspw .uabb-modal-close i{
    color: #2d6ca2!important;
    font-size: 30px;
}
#modal-02ajbolnhspw h3{
    font-size: 24px!important;
    color: #000!important;
    margin: 20px 0px -10px 0px!important;
}
/*popup css end here */

.addFavProductButton {
	margin: 0 auto;
    display: block!important;
    width: fit-content;
	margin-top: 20px;
}
.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav {
    background-color: #fff;
    display: inline-block!important;
    padding: 12px 14px!important;
    width: auto!important;
    border-radius: 100%;
    margin-left: 20px!important;
}

.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav i:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    color: #5A6C7A!important;
    font-size: 26px;
}

.favProWarpper .prod_like_wrap .favButtons .remove-parent {
    background-color: #fff;
    display: inline-block!important;
    padding: 12px 14px!important;
    width: auto!important;
    border-radius: 100%;
}

.favProWarpper .prod_like_wrap .favButtons .remove-parent i:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    color: #5A6C7A!important;
    font-size: 26px;
}

.favProWarpper .product-row>div.col-md-4:nth-child(4n+1) {
    clear: left;
}


/*WorkBook css */

#printMe .product-row>div.col-md-4:nth-child(3n+1) {
    clear: none!important;
}

#printMe .favButtons.button-wrapper #roomvo {
    width: auto !important;
}

#printMe .favButtons.button-wrapper #roomvo .roomvo-container>a {
    visibility: visible;
    margin-bottom: 10px;
    border-radius: 60px;
    width: 150px!important;
    padding: 12px 0px 8px 0px;
}

#printMe .favButtons.button-wrapper #roomvo .roomvo-container>a:hover {
    cursor: pointer;
}

.product-swatch-inner .wpfp-span .wpfp-link {
    color: #fff;
    background-color: #0079c1;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    width: 90%;
    border-radius: 0px;
    border: none;
    padding: 10px 0;
    margin: 10px auto;
}

.product-swatch-inner .wpfp-span .wpfp-link:hover {
    color: #fff;
    border-color: initial;
    background-color: #848689;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}

.favProWarpper {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

.shareAndPrint {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 100px;
    display: flex;
    justify-content: space-around;
	z-index: 2;
}

.shareAndPrint a i {
    font-size: 20px;
}
.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap img {
	min-height: 240px;	
}
#mesureMentprintMe .product-row>div.col-md-4:nth-child(3n+1) {
    clear: none;
}
.rem_fav .af, .add_Fav .rf {
	display: none;
}
.pdpFavbutton  .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.color_variations_slider_1 .slick-track .selected-slide {
    order: -1!important;
}
.color_variations_slider_1 .slick-track {
	display: flex;
}
.search-row {
    max-width: 1300px;
    margin: 0 auto;
}
.favProWarpper h2 {
    font-size: 32px;
    line-height: 1em;
    color: #444444;
    margin-bottom: 20px!important;
}

.favProWarpper .product-plp-grid h3 {
    font-size: 22px;
    color: #4F4F4F;
}

.favProWarpper .heading-title,
.favProWarpper .heading-text {
    text-align: center;
}

.favProWarpper .statiContent {
    text-align: center;
}

.favProWarpper .favButtons {
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    -webkit-transition: all 0.5s;
}

.favProWarpper .product-row .fl-post-grid-image:hover .button-wrapper {
    top: 0;
}

.wpfp-span .wpfp-link {
    border-radius: 60px;
    font-size: 12px;
    color: #fff;
    height: 40px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    width: 150px;
    margin: 0 auto;
    background-color: #0079c1;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.wpfp-span .wpfp-link:hover {
    background: #848689;
    text-decoration: none;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap>a {
    width: 100%;
    max-height: 280px;
    height: 100%;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap img {
    margin-bottom: 0px!important;
    max-height: 280px!important;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .fl-button {
    border-radius: 0px;
    font-size: 12px;
    color: #fff;
    height: 40px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    padding-top: 12px;
}

.storename {
    margin: 0px;
    list-style: none;
}

.storename li p {
    margin: 0px;
}

element.style {
    display: block;
}

.searchIcon .fl-icon i {
    cursor: pointer;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
}

.number-store-ul .uabb-infobox-text-wrap .uabb-infobox-text p {
    display: none;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .wpfp-link.remove-parent {
    background-color: #fff;
    color: #0079c1;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    border-style: none;
    border-width: 0px;
    border-color: initial;
    width: auto;
    padding: 11px 15px;
    border-radius: 20px;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .wpfp-link.remove-parent i {
    font-size: 18px!important;
}
/* Favoriate product page css end here*/
/* for plp css */
.product-plp-grid .product-row .fl-post-grid-post{
	position: relative;
}

.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp {
	background-color: #fff!important;
    display: block;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-plp-grid .product-row .fl-post-grid-post .favProdPLP .favProdPdp i{
	font-size: 20px;
}
.product-plp-grid .product-row .fl-post-grid-post .favProdPLP{
	position: absolute;
    left: auto;
    right: 10px;
    bottom: 20px;
	z-index: 2;
}
.product-variations1{
    margin-bottom: 20px;
}
.product-plp-grid .product-row .col-lg-4 > .fl-post-grid-post .fl-post-grid-image {
    position: relative;
}
.product-plp-grid .product-row .col-lg-4 > .fl-post-grid-post .fl-post-grid-image i {
    cursor: pointer;
}
.favProdPdp i:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
	color: #5A6C7A;
}
.pdpFavbutton i {
	margin-right: 5px!important;
}
.pdpFavbutton {
	cursor: pointer!important;
	color: #fff!important;
    background-color: #767676!important;
}
.pdpFavbutton:hover {
	color: #fff!important;
    background-color: #5a6c7a!important;
}
/* Fav button css end */
/* Measurment tool css start here  */

.mesureMentWrap .button-wrapper .button.view,
.favProWarpper .favButtons>a {
    background-color: #5A6C7A!important;
    color: #fff!important;
    font-size: 16px!important;
    border-radius: 0px!important;
}

.mesureMentWrap .button-wrapper .button.view:hover,
.favProWarpper .favButtons>a:hover {
    background-color: #767676!important;
    color: #fff!important;
    border: none!important;
}

#mesureMentprintMe h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.mesureMentWrap img.measure_img {
    max-height: 80px!important;
    width: auto!important;
    max-width: 90%!important;
    margin: 0 auto!important;
}

.mesureMentWrap {
    position: relative;
    overflow: hidden;
    min-height: 220px!important;
}

.mesureMentWrap .favButtons {
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

#mesureMentprintMe .product-row .mesureMentWrap:hover .favButtons {
    top: 10%;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

#mesureMentprintMe.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a {
    background-color: rgba(0, 0, 0, 0.2);
}

.mesureMentWrap .button-wrapper {
    font-size: 12px;
    border-radius: 50px;
    display: flex;
    align-items: flex-end!important;
    padding-bottom: 0px;
    transition: all 1.1s;
}

.mesureMentWrap .button-wrapper>a {
    font-size: 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
}

.mesureMentWrap .button-wrapper>a:hover {
    border-radius: 50px;
}

.mesureMentWrap .button-wrapper>a:first-child {
    width: 120px;
	border-radius: 0px;
}

.mesureMentWrap .button-wrapper>a:last-child {
    padding: 16px 16px;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    background-color: #fff!important;
}

.mesureMentWrap .button-wrapper>a:last-child:hover {
    padding: 16px 16px;
    border-radius: 50px;
}

.mesureMentWrap .button-wrapper>a:last-child i {
    margin: 0px!important;
    color: #5A6C7A!important;
}

.mesureMentWrap .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly!important;
}

#mesureMentprintMe .fl-post-grid-post h3 {
    margin: 12px 0px 0px;
    font-size: 20px;
    color: #4F4F4F;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.favProWarpper .favButtons>a {
    width: auto!important;
}


/* measuremnt popup */

.measurepopup {
    width: 90%;
    overflow: hidden;
    margin: 0 auto!important;
    max-width: 1100px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    z-index: 9999;
    margin-top: 50px;
    margin-bottom: 50px;
}

.measurepopup .row h3 {
    font-weight: 700;
    color: #000;
    text-align: left;
    color: #4F4F4F;
    font-size: 23px;
    letter-spacing: 0.22px;
    line-height: 41px;
}

.measurepopup .row {
    display: flex;
    align-items: center;
}

.measurepopup .sharingBox a i {
    font-size: 24px!important;
    padding: 20px;
}

.measurepopup .sharingBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.measurepopup img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.overlayMeasure,
.overlayInquery {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPLP .overlayInquery .measurepopup .row {
    display: block!important;
    overflow-y: scroll;
    max-height: 80vh;
}

.overlayInquery .productInfo {
    padding-top: 60px!important;
    width: 100%!important;
    text-align: center!important;
}

.productInfo>img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productInfo h3 {
    text-align: center!important;
    margin-bottom: 0px;
    font-family: Playfair Display, serif;
    font-weight: 700!important;
}

.pageUrl,
.collectionName,
.brandName {
    display: none;
}

.newPLP .closePopup {
    position: absolute!important;
    top: 0px!important;
}

.overlayInquery .measurepopup {
    border-radius: 10px!important;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.overlayInquery .row::-webkit-scrollbar {
    width: 1em;
}

.overlayInquery .row::-webkit-scrollbar-track {
    background-color: #cccccc36;
}

.overlayInquery .row::-webkit-scrollbar-thumb {
    background-color: #a9a9a952;
}
/*Measuremnt popup end here*/
/*Measuremnt tool css end here */



/* flooring finder css start here */
#alert_placeholder{
    width: 90%;
    margin: 0 auto;
}
.alert-danger {
    color: #a94442!important;
    background-color: #f2dede!important;
    border-color: #ebccd1!important;
    width: 90%;
    margin: 0 auto;
}

.alert {
    padding: 15px!important;
    margin-bottom: 20px!important;
    border: 1px solid transparent;
    border-radius: 4px;
}
.flooringFinder .card .pro_title h4{
	margin: 0px!important;
}
.flooringFinder .title h2{
	    font-family: Montserrat, sans-serif;
    font-weight: 500;
	font-size: 30px;
}
.pages h4{
	font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0px!important;
}
.Mainwrapper {
    height: 100%;
    width: 100%;

}
.flooringFinder .card .productImgWrap {
    position: relative;
}
.flooringFinder .card .productImgWrap > img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all linear 0.2s;
}
.productImgWrap > img:nth-child(1){
	z-index: 2;
}
.productImgWrap > img:nth-child(2){
	z-index: 1;
}

.card:hover .productImgWrap > img:nth-child(2){
	z-index: 3;
}
.card.shadow .productImgWrap > img:nth-child(2){
	z-index: 3;
}
h4.uabb-infobox-title-prefix ~ h2.uabb-infobox-title{
	font-size: 26px;
}
/* centerd display */
.flooringFinder .gridWrapper {
    text-align: center;
}
.flooringFinder  .fulldisplay{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flooringFinder  .fulldisplay > div{
    width: 100%;
}
.flooringFinder  .prodGrid{
    display: flex;
    justify-content: center;
}

.flooringFinder  .singlePro{
    padding: 6px 6px!important;
}
.flooringFinder  .title{
    padding: 40px 0px!important;
    color: #000;
}


.flooringFinder  .card {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  position: relative;
  transition: all 0.6s;
  border: 2px solid #C1C0BB;
}

.flooringFinder .card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
  border: 2px solid #666666;
}
.flooringFinder .shadow{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
  border: 2px solid #ff0000;
}
.flooringFinder .card.deactivate{
    opacity: 0.3;
}
.flooringFinder .card.deactivate{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.flooringFinder .pro_title {
    padding: 10px 12px!important;
    text-align: center;
    color: #000;
    
}
.flooringFinder .pro_title h4{
    text-transform: uppercase;
    font-size: 14px!important;
    font-weight: 600;
}
.flooringFinder .card .closebtn {
position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px 6px!important;
    font-size: 36px;
    line-height: 0.5em;
    margin-left: 50px;
    color: #000;
    background: #fff;
    text-decoration: none;
    opacity: 0;
  transition: all 0.6s;
}

.flooringFinder .card:hover > .closebtn{
  color: #000;
  opacity: 1;
}
.flooringFinder .multiselect .card .checkbox{
    display: none;
}
.flooringFinder .card.deactivate:hover{
   box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
   border: 2px solid #C1C0BB;
}
.flooringFinder .card.deactivate:hover > .closebtn{
  opacity: 0;
}
.sample-product-grid .getcoupon-btn {
	font-size: 16px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    padding: 12px 24px !important;
    text-decoration: none !important;
    text-shadow: none !important;
    width: 100% !important;
	background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}
.sample-product-grid .getcoupon-btn span{
	 color: #fff !important;
}
.sample-product-grid .getcoupon-btn:hover{
	color: #000;
    background: #848484 !important;
}
.sample-product-grid .getcoupon-btn:hover span{
		color: #000 !important;
}


.flooringFinder .shadow > .closebtn{
  color: #000;
  opacity: 1;
}
.flooringFinder .pages {
    color: #727171;
    background-color: #efefef;
    padding: 40px 0px!important;
}
.flooringFinder .pages span {
    font-size: 16px;
}


/* d*/
.flooringFinder  section {
    /* height: 100%; */
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0px 0px 60px 0px!important;
}

.flooringFinder section .container {
    margin: 0 auto!important;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contCenter{
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%,-50%); */
}

.flooringFinder  .buttonWrap{
 padding: 60px 0px 40px 0px!important;
}
.flooringFinder  .buttonWrap > a.button{
    color: #ffffff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #5a6c7a;
    border: 1px solid #5a6c7a;
    padding: 10px 24px!important;
    text-transform: uppercase;
    width: 250px!important;
    display: inline-block;
    text-decoration: none!important;
}
.flooringFinder  .buttonWrap > a.button:hover{
    cursor: pointer;
	background: #767676;
	 border: 1px solid #767676;
	color: #ffffff;
}
.flooringFinder  .wrap{
    flex-wrap: wrap;
}
.flooringFinder  .result .card .pro_title h4{
    line-height: 1.4em;
}
.flooringFinder  .result .card .pro_title h3{
    line-height: 1.6em;
    margin-bottom: 2px!important;    
}
.flooringFinder .result .card .pro_title .brand{
    letter-spacing: 1px;
        color: #a3a3a3;     
}
.flooringFinder .result .orderSamplebtn{
    display: block;
    padding: 10px 16px!important;
    background: #000;
    color: #fff;
    margin: 10px 0px!important;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.flooringFinder .result  .prodLink{
  text-decoration: underline;
  color: #666666;   
  font-size: 13px;
 }
.flooringFinder .buttonWrap .restartQuiz{
    display: inline-block;
} 
.flooringFinder .result .buttonWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flooringFinder .result .buttonWrap .restartQuiz{
    margin-top: 20px!important;
}
.flooringFinder .productImgWrap {
    overflow: hidden;
    height: 250px;
    max-width: none;
    width: 100%;
    min-height: 250px;
}

.flooringFinder .productImgWrap > img {
    min-height: 100%;
    width: 100%;
}
.flooringFinder section{ 
    display: none;
} 
.flooringFinder .active{
    display: block;
}
.progressBar{
	width: 100%;
    height: 24px;
    position: absolute;
    bottom: 0;
    background-color: #f4f4f4;
}

.progressBar .bar{
	padding: 12px;
    background-color: #f00000;
    width: 16%;
}

section[data-section=typeOf] .progressBar .bar{
    width: 32%;
}
section[data-section=designStyle] .progressBar .bar{
    width: 48%;
}
section[data-section=room] .progressBar .bar{
    width: 64%;
}
section[data-section=impThing] .progressBar .bar{
    width: 80%;
}
section[data-section=color] .progressBar .bar{
    width: 100%;
}
.typeOfCarpet,
.typeOfWood,
.typeOfTile{
	display: none;
}
.hidden{
	display: none;
	pointer-events: none;
}
.hidden > *{
	pointer-events: none;
}
.flooringFinder .singleselect .card .checkbox {
    display: none;
}
.columnUp .gform_footer{
	padding-right: 15px!important;
}
.p0.text-left {
	padding: 0px!important;
}
.registerationForm .ur-field-item input[type=text], .registerationForm .ur-field-item input[type=password], .registerationForm .ur-field-item input[type=email], .registerationForm .ur-field-item select {
    height: 50px!important;
}
.registerationForm .field-radio div > ul  {
	padding-left: 0px!important;
}
.registerationForm .field-radio div > ul input[type=radio]{
	width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
.ur-frontend-form .ur-button-container .ur-submit-button {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 45px;
}
.headerLocation ul{
    list-style: none;
    padding-left: 0px;
}
.headerLocation .storename .address a p {
    margin-bottom: 0px;
}
.headerLocation .storename .phone  {
    margin-top: 12px;
}
.headerLocation .storename a {
    color: #444!important;
}
.fl-slide .fl-slide-text > p {
	margin: 0px!important;
}
.widgettitle {
	font-size: 20px!important;
}
@media(min-width: 1200px){
.flooringFinder .col-lg-3 {
    width: 20%!important;
}
}
@media(min-width: 768px){

.columnUp{
	position: relative;
    z-index: 10;
}

	
.fl-module .uabb-gf-style {
    padding-right: 5px!important;
}
}
@media(max-width: 1025px){ 
	#storeLocation {
		right: 20px;
	}
}
@media(max-width: 768.5px){

	.shareAndPrint {
		display: none!important;
		position: absolute;
		top: -40px;
		right: 0px;
		width: 100px;
		display: flex;
		justify-content: space-around;
		z-index: 2;
	}
	 .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .uabb-infobox-content > .uabb-infobox-title-wrap > .uabb-infobox-title  {
		font-size: 30px!important;
		line-height: 1.4em!important;
	 }
	.fl-builder-content .mobileCenter .infobox-icon-left .uabb-infobox-content {
		width: auto!important;
	}
	.mobileCenter .uabb-infobox-left-right-wrap {
		text-align: center;
	}
	#storeLocation {
		right: auto;
		top: 240px;
		left: 50%;
		transform: translateX(-50%);
	}
.max400 img {
	max-width: 400px!important;
	display: block;
	margin: 0 auto!important;
	width: 100%;
}	
.flooringFinder .pro_title {
    min-height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column!important;
}
 .FooterRow #menu-footer-products li, #menu-copyrights li {
 	text-align: center!important;
 }
.signinrow .fl-row-content-wrap {
    text-align: left!important;
}
.buttonIssue .gform_footer input[type=submit]{
	    width: 350px;
    max-width: 100%;
}

.flooringFinder .pages {
    padding: 0px 0px!important;
}
.flooringFinder .pages > div{
    padding: 12px 0px!important;
}
.flooringFinder .prodGrid {
    display: block!important;
}
.flooringFinder .contCenter{
    position: static;
    top: 50%;
    left: 50%;
    -ms-transform: none;
    transform: none;
        display:block;
}
	.fl-module-menu  .menu a{
		    padding-top: 6px;
	}
.flooringFinder .singlePro{
    padding: 20px 20px!important;
}
.flooringFinder section {
    height: auto;
}
.fl-module-menu ul#menu-copyright-bar-menu.fl-menu-horizontal,
.fl-module-menu ul#menu-flooring-menu.fl-menu-horizontal,
.fl-module-menu ul#menu-locations.fl-menu-horizontal{
     text-align:center !important;
 }
 ul#menu-locations li{
     padding: 5px 0;
 }
 div.fl-module-dual-button .uabb-dual-button .uabb-horizontal {
     flex-direction: row;
 }
 div.fl-module-dual-button .uabb-dual-button {
    justify-content: center;
}
.uabb-dual-button .uabb-btn-horizontal{
    margin:10px;
}
.max-width-issue{
    max-width: 400px;
    margin: 0 auto; 
}
	.uabb-image-carousel img {
    width: auto !important;
    height: auto !important;
    max-width: 400px;
    margin: 0 auto;
}
	.uabb-image-carousel img{
		height: 300px !important;
		width: 300px !important;
	}
	
.max360 img{
	max-width: 360px!important;
	display: block;
	margin: 0 auto;
}	
.max500 img{
	max-width: 500px!important;
	display: block;
	margin: 0 auto;	
	width: 100%;
}
.gform_wrapper.gravity-theme .gfield input.medium, .gform_wrapper.gravity-theme .gfield select.medium {
    width: 100%!important;
}
}
@media (min-width: 766px) and (max-width: 768px){
	.contCenter.container {
  	  width: 766px;
	}
/* 	.topBarRes .fl-col-group > .fl-col:nth-child(3), .topBarRes .fl-col-group > .fl-col:nth-child(4){
	width: 30%!important;
} */
.topBarRes .menu > li {
    display: inline-block;
}
}
@media (max-width: 768px){ 
.topBarRes .menu > li {
    display: inline-block;
}
}


/* flooring finder css end here */



@media (max-width:1024px){
	.ipadLandHIde {
		display: none!important;
	}
	.ipadLandRP0 > .fl-col-content {
		margin-right: 0px!important;
	}
	.favProWarpper .prod_like_wrap > a {
		pointer-events: none!important;
	} 
	.product-detail-layout-6 .product-swatch .toggle-image-thumbnails .toggle-image-holder a {
		margin-left: 20px!important;
	}
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
}
@media (max-width:768px){
	.product-detail-layout-6 .product-variations .slick-track > .slide.selected-slide:after {
		top: 45%!important;
		transform: translate(-50%, -70%);
		left: 50%!important;
	}	
	.max360 img{
		max-width: 360px;
		width: 100%;
		display: block;
		margin: 0 auto;
	}	
	
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
}
}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}

/* flyer css start here */
.changeLocation {
    position: absolute;
    top: 120px;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    max-height: 550px;
    overflow: visible;
    background-color: #fff;
    color: #ffff;
    z-index: +10;
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    transition: all 0.6s;
   
}
.changeLocation .content {
	overflow-y: auto;
    height: 100%;
}
#storeLocation:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 30px solid #fff;
	position: absolute;
	bottom: 100%;
	filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.15));
	left: 50%;
	transform: translateX(-50%);
}

.content .title-prefix, .content .store-add{
	margin: 0px!important;
}
#storeLocation .content a{
	color: #000!important;
}	
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;
	font-family: Poppins, sans-serif;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	font-family: Poppins, sans-serif;
}
.content .store_wrapper {
padding: 30px 30px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}

.changeLocation .closebtn{
	display: none;
}
.changeLocation .closebtn:hover{

 color: #000;
}
.locationWrapFlyer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: rgb(255 255 255 / 0.9)!important;
}




.contentFlyer *{
	font-family: Poppins, sans-serif;

}   
   
/* flyer css end here ?????????????????????????????? */
#storeLocation{
	display: none;
}
.contentFlyer p{
	line-height: 0.9em;
	font-size: 12px;
	color: #000000!important;
    text-transform: capitalize;
}    
.locationWrapFlyer .contentFlyer h3, #storeLocation .store_wrapper h5:first-child {
    color: #444;
    font-family: Poppins, sans-serif;
    font-weight: 300!important;
    font-size: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0px;
}
.locationWrapFlyer .contentFlyer .mobile a{
    color: #000!important;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3em;
    
}
.locationWrapFlyer .contentFlyer .mobile:before {
    content:"\f095";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
	font-size: 17px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
}
.locationWrapFlyer  .dropIcon:after {
     content:"\f078 ";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-left: 5px;
}
.locationWrapFlyer  .dropIcon {
    display: flex;
    align-items: flex-start;
    margin-top: -5px;
}

.content .store-add{
	color: #000000;
    font-weight: 300;
    font-size: 12px;
    max-width: 220px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
#storeLocation .store_wrapper a{
	font-size: 12px!important;
}
#storeLocation .store-hour{
	color: #000!important;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 12px!important;
    text-transform: capitalize;
    margin-top: 10px;
}
#storeLocation .store-phone, #storeLocation .store-hour, #storeLocation .content .choose_location, #storeLocation .content .view_location {
     margin-bottom: 10px!important;
    display: block;
}

#storeLocation .store-phone a{
	color: #000!important;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 12px!important;
    text-transform: capitalize;
}
#storeLocation .store-phone a:before{ 
    content:"\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
}
.content .choose_location:before{
	content: "\f054";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    font-size: 14px;
}
.content .view_location:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    font-size: 14px;
}

.custombanneralert {
    font-size: 18px;
}
@media (max-width: 479px) {
	.gform_wrapper .ginput_container.ginput_container_checkbox input {
		vertical-align: top!important;
		margin-top: 4px;
	}
	.uabb-gf-style .gform_wrapper .gfield .ginput_container_time select {
		height: 62px;	
	}
	.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a>img {
	    max-height: 230px!important;
	}
}
.gform_wrapper .gform_body ul .gfield .ginput_container_time > select {
	 min-height: 50px !important;
	max-height: none!important;
	height: 50px!important;
}